// Define variables for your color scheme

$mainRed: rgb(182,45,38);
$backgroundGrey: hsla(113, 0%, 92%, 1.00);
$navbarBackground: hsla(63, 35%, 71%, 1.00);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
