.Artboard_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 900px;
  z-index: 21;
}
.A__Leia_os_diálogos_e_olhe_para_as_imagens__Qua {
  font-size: 30px;
  font-family: "Aaux ProMedium";
  color: rgb(77, 77, 77);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 242.703px;
  top: 90.733px;
  z-index: 20;
}
.Group_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 900px;
  z-index: 19;
}
._1 {
  font-size: 200px;
  font-family: "Expressway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  -webkit-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  -ms-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  position: absolute;
  left: 73.8px;
  top: 86.5px;
  z-index: 18;
}
.stars {
  background-image: url("stars.png");
  position: absolute;
  left: 11px;
  top: 113px;
  width: 185px;
  height: 186px;
  z-index: 17;
}
.UNIDADE {
  font-size: 72px;
  font-family: "Expressway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  -webkit-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  -ms-transform: matrix( 0.43779662057039,0,0,0.43779662057039,0,0);
  position: absolute;
  left: -56.211px;
  top: 26.088px;
  width: 308.11px;
  height: 50px;
  z-index: 16;
}
.A {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 125.736px;
  top: 214.1px;
  z-index: 15;
}
.Documentos_ {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 32.844px;
  top: 310.1px;
  z-index: 14;
}
.rood_unidade_bg {
  background-color: rgb(182, 45, 38);
  position: absolute;
  left: -2px;
  top: -2px;
  width: 214px;
  height: 378px;
  z-index: 13;
}
.Extra:_Conjugações {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 10.844px;
  top: 638.234px;
  z-index: 11;
}
.trajeto_completo {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 11.356px;
  top: 389.234px;
  z-index: 10;
}
.avatar {
  border-width: 61.99px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  position: absolute;
  left: 1336px;
  top: 6px;
  width: 0;
  height: 0;
  z-index: 9;
}
.OLÁ__BOM_DIA_ {
  font-size: 58px;
  font-family: "Expressway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 227.938px;
  top: -2.76px;
  z-index: 8;
}
.header_bg {
  background-color: rgb(204, 207, 155);
  position: absolute;
  left: 193px;
  top: -41px;
  width: 1247px;
  height: 119px;
  z-index: 7;
}
.dictionary {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1037px;
  top: 103px;
  width: 364px;
  height: 731px;
  z-index: 6;
}
.__ {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1005.016px;
  top: 448.634px;
  width: 13px;
  height: 12px;
  z-index: 5;
}
.______ {
  font-size: 24px;
  font-family: "Expressway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 201.713px;
  top: 419.834px;
  width: 13px;
  height: 12px;
  z-index: 4;
}
.leftpanel {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -2px;
  top: 335px;
  width: 214px;
  height: 565px;
  z-index: 3;
}
.site_bg {
  background-image: url("site bg.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 900px;
  z-index: 2;
}
