<div class="leftPane">
  <div class="unidadePane">
    <div class="unidadeLabel">UNIDADE</div>
    <div class="starCircle"><span class="unidLabel">1</span><span class="letterLabel">a</span></div>
    <div class="genreLabel">Documentos</div>
  </div>
  <div class="navigationPane">
    trajeto completo
  </div>
  <div class="extraPane">
    <div class="genreLabel">outras opções</div>
    <ul class="extraList">
      <li>conjugações</li>
    </ul>
  </div>
</div>