<div class="mainPage">
  <%= render 'shared/leftpane' %>
  <div class="rightPane">
    <%= render 'shared/navbar' %>
    <div class="mainPane">
      <div class="contentPane">
        <h3>A. Leia a phrase</h2>
      </div>
      <%= render 'shared/vocab' %>
    </div>
  </div>
</div>